.service-section {
    background-color: rgb(220, 235, 243);
    padding: 2rem;
}

/* ----Table----- */


h4 {
    text-align: center;
    margin: 0rem auto;
    font-weight: 600;
    color: rgb(6, 6, 41)
}

.table-header > div {
    margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

button {
    font-size: 1em;
}

.button-add-row {
    background: #445a85;
    color: #ffffff;
  }
  
  .button-remove-rows {
    background: var(--color-link-default);
    color: #ffffff;
    margin-right: 5px;
  }
  
  .button-remove {
    color: var(--color-link-default);
  }


table {
    width: 100%;
}

.mat-header-row {
  background-color: #445a85;
  color: white;
  border: none;
}

.mat-header-row th {
    color: inherit;
    font-size: 1rem;
}

.mat-row:nth-child(odd) {
  background-color: #f5f5f5;
}

.mat-row td:nth-child(1) {
  width: 5%;
}

.mat-row td:nth-child(2) {
  min-width: 50%;
}

.mat-row td:nth-child(3) {
  min-width: 20%;
}

.mat-row td:nth-child(4) {
  min-width: 1px;
}

.mat-row td,
.mat-header-cell {
    border: none;
    border-right: 1px solid white;
}

.mat-cell,
.mat-header-cell {
    padding: 0.5rem;
}

.mat-cell {
  font-size: 1.1rem;
}

.mat-form-field {
  width: 100%;
}

.btn-edit {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}