<section id="login">
    <div class="login-form-container">
        <form class="login-form">
            <fieldset>
                <div class="heading">
                    <h2>Вход</h2>
                </div>

                <!-- email -->
                <label for="email"><span><i class="fas fa-envelope"></i></span>E-mail:</label>
                <input type="email" name="email" placeholder="ivan@abv.bg">

                <!-- password -->
                <label for="password"><span><i class="fas fa-lock"></i></span>Парола:</label>
                <input type="password" name="password" placeholder="******">

                <button class="login-btn">Вход</button>

                <p class="text-center">
                    Още нямате регистрация?
                    <a routerLink="/register">Регистрация</a>
                </p>

            </fieldset>
        </form>
    </div>
</section>