<section id="login">
    <div *ngIf="isSubmitted && !isSuccessful" class="server-error">
        <p>Неуспешен вход!</p>
        <p>{{ errorMessage }}</p>
    </div>
    <div class="login-form-container">
        <form 
        class="login-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="heading">
                    <h2>Вход</h2>
                </div>

                <!-- email -->
                <label for="email">E-mail:</label>
                <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="ivan@abv.bg"
                    [ngClass]="{'input-error': f['email'].touched && f['email'].invalid}">
                <div 
                    *ngIf="f['email'].touched && f['email'].errors"
                    class="error">
                    <div *ngIf="f['email'].errors['required']">Полето "email" е задължително!</div>
                    <div *ngIf="f['email'].errors['email']">Невалиден email адрес!</div>             
                </div>

                <!-- password -->
                <label for="password">Парола:</label>
                <input 
                    type="password" 
                    formControlName="password" 
                    placeholder="******"
                    [ngClass]="{'input-error': f['password'].touched && f['password'].invalid}">
                <div 
                    *ngIf="f['password'].touched && f['password'].errors"
                    class="error">
                        <div *ngIf="f['password'].errors['required']">Полето "парола" е задължително!</div>
                        <div *ngIf="f['password'].errors['minlength'] || f['password'].errors['maxlength']">Паролата трябва да е между 6 и 20 символа</div>                  
                </div>
                
                <button 
                class="login-btn"
                [disabled]="form.invalid"
                >
                Вход
                </button>

                <p class="text-center">
                    Още нямате регистрация?
                    <a routerLink="/register">Регистрация</a>
                </p>

            </fieldset>
        </form>
    </div>
</section>