<section id="register">
    <div class="registration-form-container">
        <form class="registration-form">
            <fieldset>
                <div class="heading">
                    <h2>Регистрационна форма</h2>
                </div>

                <!-- email -->
                <label for="email"><span><i class="fas fa-envelope"></i></span>E-mail:</label>
                <input type="email" name="email" placeholder="ivan@abv.bg">

                <!-- password -->

                <label for="password"><span><i class="fas fa-lock"></i></span>Парола:</label>
                <input type="password" name="password" placeholder="******">

                <!-- rePassword -->
                <label for="rePassword"><span><i class="fas fa-lock"></i></span>Прола отново:</label>
                <input type="password" name="rePassword" placeholder="******">

                <button class="registration-btn">Регистрация</button>

                <p class="text-center">
                    Вече имате регистрация?
                    <a routerLink="/login">Вход</a>
                </p>

            </fieldset>
        </form>
    </div>
</section>