/* Ad Card */
.ad-card {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  min-width: 250px;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 3px 5px 9px -4px #07004d;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 100px;
  background-color: rgb(255, 255, 251);
  padding: 1em;
  object-fit: cover;
}
.ad-card:hover {
  cursor: pointer;
}

.ad-card .img-container {
  position: absolute;
  width: 90%;
  height: 62%;
  overflow: hidden;
  box-shadow: inset 0 0 0 1.25rem rgba(255, 255, 255, 0.9);
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e6e6e6;
  border-radius: 0.4em;
  border: 2px dashed;
}

.ad-card .img-container img {
  position: absolute;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ad-card h3 {
  font-weight: 700;
  font-size: 1.4em;
  position: relative;
  display: inline-block;
  margin-top: 300px;
}

.ad-card h3::after {
  position: absolute;
  content: "";
  background-color: var(--color-link-default);
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
}

.ad-card p {
  font-size: 0.8em;
}

.ad-card span {
  display: inline-block;
  font-size: 1.5em;
  color: var(--color-link-default);
}

@media (max-width: 1200px) {
  .ad-card {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .ad-card p {
    font-size: 1.15rem;
  } 
}