<footer id="contacts" class="site-footer">

    <section class="contacts">

        <div class="phone">
            <fa-icon [icon]="faPhone"></fa-icon>
            0878 951 602
        </div>
        <div class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            info@dr-dolittle.net
        </div>
        <div class="address">
            <fa-icon [icon]="faLocation"></fa-icon>
            ул. Хан Крум 16, Русе
        </div>

    </section>

    <section class="further-contacts">

        <div class="logo">
            <a routerLink="/">
                <img src="/assets/drdl_logo_big.png" alt="logo_big">
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a routerLink="/">В началото</a></li>
                <li><a (click)="onClick('about')">За нас</a></li>
                <li><a (click)="onClick('contacts')">Контакти</a></li>
                <li><a (click)="onClick('ads')">Обяви</a></li>
            </ul>
        </div>

        <div class="working-hours">
            <h5>РАБОТНО ВРЕМЕ:</h5>
            <p>понеделник - петък</p>
            <p>9:00 - 18:00 ч.</p>
            <p><span>
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    <a href="https://bg-bg.facebook.com/pages/category/Veterinarian/%D0%92%D0%B5%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0%D1%80%D0%BD%D0%B0-%D0%B0%D0%BC%D0%B1%D1%83%D0%BB%D0%B0%D1%82%D0%BE%D1%80%D0%B8%D1%8F-%D0%94%D0%BE%D0%BA%D1%82%D0%BE%D1%80-%D0%94%D1%83%D0%BB%D0%B8%D1%82%D1%8A%D0%BB-194209664256523/"></a>
                </span> 
                <span>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </span>
            </p>
        </div>
    </section>

</footer>