.site-footer {
    margin-top: 2em;
    padding-top: 2em;
  }
  
  .contacts {
    background-color: var(--color-link-default);
    display: flex;
    justify-content: center;
    align-items: space-between;
    color: white;
  }
  
  .contacts div {
    padding: 1.5em 5em;
  }
  
  .further-contacts {
    background-image: url(/assets/map.png);
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .further-contacts::after {
    position: absolute;
    content: url(/assets/logo_notext.svg);
    top: -20%;
    left: 0%;
  }
  
  .further-contacts .logo {
    height: auto;
    padding: 5em;
  }
  
  .logo > img {
    width: 200px;
    height: auto;
  }
  
  .further-contacts .menu ul {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5em;
  }
  
  .further-contacts .menu ul li {
    padding: 0;
    cursor: pointer;
  }
  
  .further-contacts .working-hours {
    color: white;
    padding: 5em;
  }
  
  .further-contacts .working-hours p {
    padding: 0;
  }

  .further-contacts .working-hours h5 {
    font-weight: 700;
  }

  
  li {
    text-decoration: none;
    color: white;
    list-style-type: none;
    margin: 0 0 0.5em 0;
  }

  a {
    color: white;
    cursor: pointer;
  }

  span {
    margin: 0 0.5em 0 0;
  }