<footer id="contacts" class="site-footer">

    <section class="contacts">

        <div class="phone">
            <fa-icon [icon]="faPhone"></fa-icon>
            0878 951 602
        </div>
        <div class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            info@drdolittle.net
        </div>
        <div class="address">
            <fa-icon [icon]="faLocation"></fa-icon>
            ул. Хан Крум 16, Русе
        </div>

    </section>

    <section class="further-contacts">

        <div class="logo">
            <img src="/assets/drdl_logo_big.png" alt="logo_big">
        </div>

        <div class="menu">
            <ul>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#about">За нас</a></li>
                <li><a href="#contacts">Контакти</a></li>
                <li><a href="#ads">Обяви</a></li>
            </ul>
        </div>

        <div class="working-hours">
            <h5>РАБОТНО ВРЕМЕ:</h5>
            <p>понеделник - петък</p>
            <p>9:00 - 18:00 ч.</p>
            <p><span>
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    <a href="www.facebook.com"></a>
                </span> 
                <span>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </span>
            </p>
        </div>
    </section>

</footer>