.registration-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
}

.registration-form {
  padding: 2em;
  border: none;
  border-radius: 0.4em;
  box-shadow: 3px 5px 9px -4px rgb(7, 0, 77);
}

.registration-form fieldset {
  border: none;
}

.registration-form input {
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background-color: rgba(7, 0, 77, 0.1);
  padding: 0.2em;
}

.registration-btn {
  background-color: var(--color-link-default);
  width: 100%;
  padding: 1em 7em;
  color: white;
  border-radius: 0.4em;
  font-size: 1.2em;
  margin: 2em auto;
}

.text-center {
  text-align: center;
  font-size: 0.8em;
}

.text-center a {
  color: var(--color-link-default);
}
