<div class="wrapper">
<form 
class="ad-form" 
[formGroup]="form" 
(ngSubmit)="onSubmitButtonPressed()"
>
    <!-- <fieldset> -->
        <div class="heading">
            <h2 *ngIf="viewMode === 'new'">Публикуване на обява</h2>
            <h2 *ngIf="viewMode === 'edit'">Редактиране на обява</h2>
        </div>

        <!-- category -->
        <label for="category">Категория*:</label>
        <select 
        formControlName="category"
        [ngClass]="{'input-error': f['category'].touched && f['category'].invalid}">
        >
            <option selected value="" >Изберете от:</option>
            <option value="Търся">Търся</option>
            <option value="Продавам">Продавам</option>
            <option value="Подарявам">Подарявам</option>
        </select>
        <div 
        *ngIf="f['category'].touched && f['category'].errors"
        class="error">
            <div *ngIf="f['category'].errors['required']">Моля изберете категория от менюто!</div>
        </div>

        <!-- description -->
        <label for="description">Описание*:</label>
        <textarea 
        formControlName="description" 
        rows="5" cols="10"
        [ngClass]="{'input-error': f['description'].touched && f['description'].invalid}">
        ></textarea>
        <div 
            *ngIf="f['description'].touched && f['description'].errors"
            class="error">
                <div *ngIf="f['description'].errors['minlength'] || f['description'].errors['maxlength']">Описанието е между 10 и 500 символа.</div>
        </div>

        <!-- contactName -->
        <label for="contactName">Лице за контакт*:</label>
        <input 
        type="text" 
        formControlName="contactName" 
        placeholder="Иван Иванов"
        [ngClass]="{'input-error': f['contactName'].touched && f['contactName'].invalid}">
        <div 
        *ngIf="f['contactName'].touched && f['contactName'].errors"
        class="error">
            <div *ngIf="f['contactName'].errors['required']">Моля въведете лице за контакт!</div>
        </div>

        <!-- contactEmail -->
        <label for="email">E-mail:</label>
        <input 
        type="email" 
        formControlName="contactEmail" 
        placeholder="ivan@abv.bg"
        [ngClass]="{'input-error': f['contactEmail'].touched && f['contactEmail'].invalid}">
        <div 
        *ngIf="f['contactEmail'].touched && f['contactEmail'].errors"
        class="error">
            <div *ngIf="f['contactEmail'].errors['contactEmail']">Невалиден email адрес!</div>             
        </div>

        <!-- contactPhone -->
        <label for="contactPhone">Телефон за контакт*:</label>
        <input 
        type="text" 
        formControlName="contactPhone" 
        placeholder="0888888888"
        [ngClass]="{'input-error': f['contactPhone'].touched && f['contactPhone'].invalid}">
        <div 
        *ngIf="f['contactPhone'].touched && f['contactPhone'].errors"
        class="error">
            <div *ngIf="f['contactPhone'].errors['nrInvalid']">Номерът трябва да започва с 08 и да е общо 10 символа.</div>                  
        </div>

        <!-- adImage -->
        <div class="file">

            <label for="adImage">
                Добавете снимка
            </label>
            <input 
            type="file" 
            formControlName="adImage"
            (change)="onFileSelect($event)"
            title=""
            >
        </div>
        <div *ngIf="localImgUrl" class="selected-file">
            <img [src]="localImgUrl" >
            <button (click)="removeImage($event)">Премахнете снимката</button>
        </div>
        <div 
        *ngIf="f['adImage'].touched && f['adImage'].errors"
        class="error">
            <div *ngIf="f['adImage'].errors['requiredFileType']">Снимката трябва да е тип img или png.</div>                  
        </div>

        <button
        class="ad-btn"
        [disabled]="form.invalid"
        >
        Публикуване
        </button>

    <!-- </fieldset> -->
</form>
</div>