<header class="site-header">

    <div class="logo-container">
        <img src="./assets/drdl_logo_one_row_wb.png" alt="DrDolittle">
    </div>

    <nav class="site-nav">
        <div class="common">
            <ul>
                <li><a href="#about">За нас</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#ads">Обяви</a></li>
                <li><a href="#contacts">Контакти</a></li>
            </ul>
        </div>

    </nav>

    <div class="contact">
        <div class="conditional">
            <ul>
                <li><a href="#">Вход</a></li>
                <li><a href="#">Изход</a></li>
                <span>
                    <fa-icon [icon]="faPhone"></fa-icon>
                    0878 951 602
                </span>
            </ul>
        </div>
    </div>

</header>