<header class="site-header">

    <div class="logo-container">
        <a (click)="onClick('home')">
            <img src="./assets/drdl_logo_one_row_wb.png" alt="DrDolittle">
        </a>
    </div>

    <nav class="site-nav">
        <div class="common">
            <ul>
                <li><a (click)="onClick('about')">За нас</a></li>
                <li><a (click)="onClick('services')">Услуги</a></li>
                <li><a (click)="onClick('ads')">Обяви</a></li>
                <li><a (click)="onClick('contacts')">Контакти</a></li>
            </ul>
        </div>

    </nav>

    <div class="contact">
        <div class="conditional">
            <ul>
                <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Вход</a></li>
                <li *ngIf="(isLoggedIn$ | async)"><a href="javascript:void(0)" (click)="logoutHandler()">Изход</a></li>
                <span>
                    <fa-icon [icon]="faPhone"></fa-icon>
                    0878 951 602
                </span>
            </ul>
        </div>
    </div>

</header>