<main class="site-main">

    <div id="home">
        <div class="home-contents">

            <div class="text">
                <h1>
                    Ние разбираме
                </h1>
                <h1> <span>вашите</span> любимци </h1>
                <h3>
                    Независимо от цвета, вида, размера и характера!
                </h3>
            </div>

            <div class="shape-divider">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#FFFFFF" fill-opacity="1"
                        d="M0,224L80,202.7C160,181,320,139,480,138.7C640,139,800,181,960,197.3C1120,213,1280,203,1360,197.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                    </path>
                </svg>
            </div>

        </div>

    </div>

    <div id="about">

        <div class="about-contents">

            <div class="about-details">

                <div class="about-image-container">
                    <img src="assets/small-dog-vet.jpg" alt="Small Dog">
                </div>

                <div class="about-text">
                    <h2>За нас</h2>
                    <h3>Ветеринарна клиника с отношение</h3>
                    <p>Във ветеринарна клиника "Д-р Дулитъл" ще срещнете разбиране. Нашата мисия е да осигурим
                        най-висок стандарт в обслужването на вашите лщбимци на разумна цена. Ние ще работим
                        заедно с вас, за да разберем уникалните здравни нужди на вашия любим приятел, и ще ви
                        помогнем да бъдете отговорни и грижовни към тези специални членове на семейството ви.
                    </p>
                    <p>
                        В нашата клника ще намерите гостоприемна и приятелска среда за вас и вашите любимци, за
                        да бъде посещението ви възможно най-приятно. Вие и вашите лщбимци сте част от нашето
                        семейство.
                    </p>
                </div>
            </div>


        </div>

    </div>

    <div id="services">

        <div class="services-content">
            <div class="service-title">
                <h2>Нашите услуги</h2>
            </div>

            <div class="service-cards">

                <div class="service-card">
                    <img class="clinic" src="/assets/clinic.svg" alt="clinig_img">
                    <h3>Клиника</h3>
                    <p>терапия, хирургия, анестезия, дерматология, кардиология, офталмология, стоматология,
                        травматология, неврология, акушерство и гинекология</p>
                    <p class="more">Още <span>&rarr;</span></p>
                </div>

                <div class="service-card">
                    <img class="clinic" src="/assets/diagnostics.svg" alt="diagnostics_img">
                    <h3>Диагностика</h3>
                    <p>прегледи, разчитане на уз, рентгенови и лабораторни изследвания </p>
                    <p class="more">Още <span>&rarr;</span></p>
                </div>

                <div class="service-card">
                    <img class="vaccination" src="/assets/vaccine.svg" alt="vaccine_img">
                    <h3>Профилактика</h3>
                    <p>ваксинация и реваксинация, чипиране, обработка против паразити</p>
                    <p class="more">Още <span>&rarr;</span></p>
                </div>

                <div class="service-card">
                    <img class="stacio" src="/assets/stacio.svg" alt="stacio_img">
                    <h3>Стационар</h3>
                    <p>стационар и престой на животни в клиниката с полагане на лекарски грижи</p>
                    <p class="more">Още <span>&rarr;</span></p>
                </div>

                <div class="service-card">
                    <img class="petshop" src="/assets/petshop.svg" alt="petshop_img">
                    <h3>Зоомагазин</h3>
                    <p>ветеринарна аптека с всички необходими за лечението препарати; храна и аксесоари за вашия
                        любимец</p>
                    <p class="more">Още <span>&rarr;</span></p>
                </div>

            </div>

        </div>

    </div>

    <div id="ads">

        <div class="ads-content">

            <div class="ad-title">
                <h2>Обяви от наши клиенти</h2>
            </div>

            <div class="ad-cards">

                <div class="ad-card">
                    <img class="ad-img" src="/assets/ad_img.png" alt="ad_img">
                    <h3>Продавам</h3>
                    <p>Продавам малък женски кокер шпаньол ......</p>
                </div>

                <div class="ad-card">
                    <img class="ad-img" src="/assets/ad_img.png" alt="ad_img">
                    <h3>Търся</h3>
                    <p>Търся мъжки ротвайлер с цел създаване на потомство ......</p>
                </div>

                <div class="ad-card">
                    <img class="ad-img" src="/assets/ad_img.png" alt="ad_img">
                    <h3>Подарявам</h3>
                    <p>Малки персийски котенца на 2 месеца ......</p>
                </div>

            </div>

        </div>

        <div class="btn-holder">
            <button class="ad-link">Виж всички</button>
        </div>

    </div>

    <div class="back">
        <!-- <fa-icon [icon]="faPhone"></fa-icon> -->
        <a routerLink="/">
            <p>&#8593;</p>
        </a>
    </div>

</main>
