body {
  overflow: hidden;
}

h2 {
  font-weight: 900;
  display: inline-block;
  position: relative;
  line-height: 200%;
  text-align: center;
}

h2::after {
  content: "";
  background-color: var(--color-link-default);
  position: absolute;
  width: 100%;
  height: 0.2em;
  top: 90%;
  left: 0;
}

/* ----- hero ---- */

#home {
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}

#home .hero-img-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#home img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
}

.home-contents {
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
}

.text {
  font-style: italic;
  color: white;
  padding: 1.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.text h1:first-child {
  padding-top: 1rem;
}

.text span {
  color: var(--color-link-default);
  display: inline;
  font-size: 4rem;
  padding-left: 2rem;
}

.text h3 {
  padding: 1.5rem;
  width: 30%;
}

/*About*/
.about-contents {
  position: relative;
  padding-bottom: 2em;
  padding-top: 5em;
}

#about {
  position: relative;
}

#about::after {
  position: absolute;
  content: "";
  background-image: url(/assets/logo_notext.svg);
  background-repeat: no-repeat;
  background-position: left;
  top: -40%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: 0;
}

.about-details {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 0 5em;
}

.about-image-container {
  border-radius: 50%;
  background-color: white;
  width: 500px;
  height: 500px;
  flex: 0 0 500px;
  object-fit: fill;
  overflow: hidden;
  border: 2px dashed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image-container img {
  width: 500px;
  height: 500px;
  flex: 0 0 400px;
  border: 20px solid white;
  border-radius: 50%;
}

.about-text {
  flex: 0 1 60%;
  margin-left: 3em;
}

.about-text h3 {
  padding-top: 1em;
  font-style: italic;
}

.about-text p {
  font-size: 1em;
}

/*Services*/

.services-content {
  width: 100%;
  height: 840px;
  background-image: url(/assets/services_bkg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 3rem;
}

.service-title {
  text-align: center;
  color: white;
  padding: 2em 0;
}

.service-cards {
  padding: 1rem 3rem;

  display: flex;
  flex-direction: row;
  gap: 1%;
  align-items: flex-start;
  justify-content: space-around;
}

/* Service Card */
.service-card {
  width: 20%;
  height: 480px;
  background-color: var(--color-cards-bgrd);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1em;
  border-radius: 0.5em;
}

.service-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.service-card .service-img-container {
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
  object-fit: cover;
}

.service-card img {
  width: 100%;
  height: 100%;
  margin: 1em;
}

.service-card h3 {
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
}

.service-card h3::after {
  position: absolute;
  content: "";
  background-color: var(--color-link-default);
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
}

.service-card p {
  font-size: 0.8rem;
}

.service-card .more {
  text-align: center;
  color: var(--color-link-default);
}

.service-card .more:hover {
  cursor: pointer;
}

.service-card span {
  display: inline-block;
  font-size: 1.5em;
  color: var(--color-link-default);
}

/*Ads*/

#ads {
  max-width: 1920px;
  margin: 0 auto;
}
.ad-content {
  width: 100%;
  height: 840px;
  padding-top: 3em;
}

.ad-title {
  text-align: center;
  color: black;
  padding: 2em 0;
}

.ad-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin: 0 3rem;
  margin-bottom: 3rem;
}

.noads {
  width: 100%;
  text-align: center;
}

ad-item {
  width: 500px;
}

.btn-holder {
  display: flex;
  gap: 2rem;
}

.btn-holder a {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.btn-holder button p {
  padding-bottom: 0;
  font-size: 1em;
}

.ad-link {
  background-color: var(--color-link-default);
  padding: 1em 7em;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.2em;
  margin: 2em auto;
}

.ad-link:hover {
  background-color: var(--color-link-hover);
  cursor: pointer;
}

.back {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #07004d;
  opacity: 0.5;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back a {
  display: block;
  width: 100%;
  height: 100%;
}

.back p {
  color: white;
  font-weight: 700;
  font-size: 2em;
  position: absolute;
  top: 5%;
  left: 35%;
  margin: 0;
  padding: 0;
  z-index: 3;
}

/* Responsive */

@media (max-width: 1600px) {
  .service-card h3 {
    font-size: 1.1rem;
  }

  .service-card p {
    font-size: 0.7rem;
  }
}

@media (max-width: 1200px) {
  /* ----HERO/HOME ---- */
  #home {
    height: 40vh;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000e16;
    z-index: -2;
  }

  .home-contents {
    margin-top: 50vh;
  }

  .home-contents .text {
    text-align: center;
  }

  .home-contents .text h3 {
    width: 90%;
    margin: 0 auto;
  }

  /* ----ABOUT ---- */

  #about {
    overflow: hidden;
  }

  #about::after {
    left: unset;
    right: -70%;
    bottom: -10%;
    top: unset;
  }

  .about-contents {
    padding-bottom: 5rem;
  }
  .about-details .about-image-container {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .about-details .about-image-container img {
    width: 300px;
    height: 300px;
    flex: 0 0 300px;
  }

  /* ----SERVICES ---- */

  .services-content {
    padding-top: 2rem;
  }

  .service-title {
    text-align: center;
    color: white;
    padding: 1.5rem 0 0 0;
  }

  .service-cards {
    flex-wrap: wrap;
  }

  .service-card {
    flex: 0 1 47%;
    height: 180px;
    margin: 1rem 0;

    flex-direction: row;
  }

  .service-card-header {
    height: 80%;
  }

  .service-card .service-img-container {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
  }

  .service-card .service-img-container img {
    margin: 0;
  }

  .service-card-main {
    padding: 1rem;
  }

  .service-card h3 {
    font-size: 1.1rem;
  }

  .service-card p {
    font-size: 0.9rem;
    text-align: left;
    padding: 0;
  }

  /* ----SERVICES ---- */
  .ad-title {
    padding-bottom: 0.5rem;
  }

}

@media (max-width: 900px) {
  /* ------ ABOUT ----- */

  .about-details .about-image-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .about-details .about-image-container img {
    width: 200px;
    height: 200px;
    flex: 0 0 200px;
  }

  /* ----SERVICES ---- */

  .service-cards {
    flex-direction: column;
    flex-wrap: wrap
  }

  .service-card {
    max-height: 100px;
    width: 100%;
    flex: 1 0 100%;
  }

  .service-card-header {
    width: 30%;
  }
  .service-card-main {
    width: 80%;
  }

  .service-card .service-img-container {
    width: 50px;
    height: 50px;
    margin-bottom: 0.25rem;
  }

  .service-card h3{
    font-size: 1rem;
  }

  .more p {
    text-align: left;
  }

  /* ----ADS ---- */
  .ad-cards,
  .btn-holder {
    flex-direction: column;
  }

  .btn-holder {
    gap: 0.5rem;
  }

  .btn-holder button {
    margin: 0 0.5rem;
    width: 100%;
  }


}

@media (max-width: 600px) {
  #home {
    background-size: 100%;
  }

  .text {
    text-align: center;
  }

  .text h3 {
    width: 90%;
  }

  #home h1:first-of-type {
    margin-top: 250px;
  }
  .about-details {
    flex-direction: column;
  }

  .shape-divider {
    bottom: -9.5%;
  }

  #services {
    height: 100%;
  }


}
