.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-data {
  position: relative;
  z-index: 0;
  display: flex;
  margin: 2em;
  background-color: var(--color-cards-bgrd);
  border-radius: var(--border-radius);
  padding: 2em 1em;
}

.img-container {
  width: 30%;
  border: 1px dashed black;
  box-shadow: inset 0 0 0 1rem white;
  object-fit: cover;
  overflow: hidden;
  margin: 1em;
  margin-top: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  width: 90%;
  height: auto;
}

.data-container {
  margin-left: 3em;
}

.data-container h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 2.5em;
  position: relative;
  margin: 1.5em 0;
}

.data-container h2::after {
  position: absolute;
  content: "";
  background-color: var(--color-link-default);
  width: 100%;
  height: 0.2em;
  top: 100%;
  left: 0;
}

.data-container p {
  font-size: 1em;
}
.data-container p span {
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  background-color: var(--color-link-default);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  font-size: 1em;
  padding: 1em 2em;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-link-hover);
}

.dialog-component-container {
  position: relative;
}

@media (max-width: 1024px) {
  .ad-data {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .img-container {
    width: 70%;
    margin: 2rem auto;
  }
}

@media (max-width: 480px) {
  .ad-data {
    margin: 0;
    padding: 0;
  }
  .data-container {
    margin: 0 auto;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
